ul {
    background-color: #000000;
  }
  li a:hover {
    background-color: #0cf72a;
  }
  .word-container {
    width: 500px;
    height: 50px;
    margin: auto;
    position: relative;
    top: 80px;
  }
  .word-container h1 {
    margin: 0;
    text-align: center;
    color: #ab0a0a;
  }
  .register-container {
    width: 600px;
    height: 350px;
    margin: auto;
    position: relative;
    top: 100px;
    border: 1px solid #000;
  }
  .fname input[type="text"] {
    position: relative;
    left: 115px;
    top: 30px;
    padding: 8px;
  }
  .lname input[type="text"] {
    position: relative;
    left: 314px;
    top: -5.5px;
    padding: 8px;
  }
  .userid input[type="text"] {
    position: relative;
    left: 115px;
    padding: 8px;
    top: 10px;
  }
  .pwd input[type="password"] {
    position: relative;
    padding: 8px;
    left: 115px;
    top: 25px;
  }
  .email input[type="email"] {
    position: relative;
    padding: 8px;
    left: 115px;
    top: 40px;
  }
  .btn button[type="submit"] {
    position: relative;
    left: 115px;
    top: 55px;
    padding: 8px;
    width: 382px;
    border: 1px solid #000000;
    color: #ffffff;
    background-color: #ab0a0a;
  }
  div.btn button[type="submit"]:hover {
    background-color: rgb(255, 0, 0);
  }